<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}{{ config.get("title", "BrowsePy") }}{% endblock %}</title>
    {% block style %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}"/>
    {% endblock %}

    <link href="{{ url_for('.static', filename='css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/bootbox.min.js') }} "></script>
</head>

<body>
        <a href="https://www.unisdr.org/"><img src="{{ url_for('.static', filename='logo-unisdr.gif') }}" height="100"/></a>
        <a href="http://www.mnm-team.org/"><img src="{{ url_for('.static', filename='mnmLogoNeu_caption.png') }}" height="100"/></a>
        <a href="http://www.preventionweb.net/english/hyogo/gar/2015/en/home/index.html"><img src="{{ url_for('.static', filename='GAR15_logo_sm.png') }}" height="100"/></a>

    {% block header %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}{% endblock %}
    {% block scripts %}
        <script src="{{ url_for('static', filename='base.js') }}"></script>
    {% endblock %}

</body>
</html>
